/Rosetta-Code/Ranking-Methods/C_Sharp/RosettaCode.RankingMethods/RosettaCode.RankingMethods/obj
/Rosetta-Code/Ranking-Methods/C_Sharp/RosettaCode.RankingMethods/RosettaCode.RankingMethods/bin
/Rosetta-Code/Ranking-Methods/C_Sharp/RosettaCode.RankingMethods/.vs
/Rosetta-Code/Counting-Coins/C_Sharp/RosettaCode.CountingCoins/RosettaCode.CountingCoins/obj
/Rosetta-Code/Counting-Coins/C_Sharp/RosettaCode.CountingCoins/RosettaCode.CountingCoins/bin
